{
    auto_https off
    frankenphp {
		#worker ./public/index.php
	}
}

localhost {
	# log
	route {
		root * public/

		# php_fastcgi 127.0.0.1:9000
		# If the requested file does not exist, try index files
		@indexFiles file {
			try_files {path} {path}/index.php index.php
			split_path .php
		}
		rewrite @indexFiles {http.matchers.file.relative}

		# FrankenPHP!
		@phpFiles path *.php
		php @phpFiles

		file_server
		respond 404
	}
}